{% raw %}
{{- define "common.header" }}
<header class="bg-gray-700 shadow w-full">
  <div class="flex flex-row flex-wrap items-center mx-auto p-5 container">
    <a href="" class="flex items-center text-white">
      <span class="font-bold text-2xl">Gin Demo</span>
    </a>
    <nav class="flex justify-center items-center ml-auto text-white">
      <ul class="flex space-x-4">
        <li class="hover:underline">
          <a href="home">Home</a>
        </li>
        <li class="hover:underline">
          <a href="crud">CRUD</a>
        </li>
        <li class="hover:underline">
          <a href="cache">Cache</a>
        </li>
        <li class="hover:underline">
          <a href="cloud-api">Cloud API</a>
        </li>
        <li class="hover:underline">
          <a href="async-task">Async Task</a>
        </li>
        <li class="hover:underline">
          <a href="obj-storage">Object Storage</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
{{- end }}
{% endraw %}